*{
    padding: 0;
    margin: 0;
    font-family: 'Scope One', serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.header{
    height: 100%;
    width: 100%;
    background-image: url(../images/banner.png);
    background-position: center top;
    background-size: cover;
    color: #fff;
}
.header span{
    color: #3498db;
    float: left;
}
.header h3{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
.header a{
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 20px;

}
.fa-solid{
    margin-right: 8px;
    font-size: 20px;
    color: #fff;
}
.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    clear: both;
    padding: 1px;
}
.container h1{
    position: relative;
    margin-top: 20%;
    font-size: 55px;
}
.container p{
    font-size: 25px;
}
button{
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #3498db;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-family: "scope one";
    font-size: 15px;
    font-weight: 500;
}
.white{
    width: 70%;
    margin: 0 auto; 
    padding: 80px 0;
}
.left{
   width: 40%;
   float: left;
   text-align: center;
}
.right{
    width: 60%;
    float: right;
}
.left img{
    width: 70%;
    border-radius: 100%;
    border: 1px solid grey;
    padding: 3px;
}
.right h3{
    margin-bottom: 20px;
    color: black;
}
.right p{
    color: grey;
}
.blue{
    width: 100%;
    background-color: #3498db;
}
.contain{
    width: 70%;
    margin: 0 auto; 
    padding: 80px 0;
}
.le{
    width: 60%;
    float: left;
}
.ri{
    width: 40%;
    float: right;
    text-align: center;
}
.ri img{
    width: 70%;
    border-radius: 100%;
    border: 1px solid white;
    padding: 3px;
}
.le h3{
    margin-bottom: 20px;
    color: black;
}
.le p{
    color: white;
}
.my-button{
    background-color: white;
    color: black;
}
.grey{
    width: 100%;
    background-color: rgba(246, 240, 240, 0.962);
}
.my-container{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 80px 0;
}
.member{
    margin-top: 30px;
    width: 27%;
    margin-left: 50px;
    float: left;
}
.member img{
    width: 90%;
    margin-bottom: 20px;
    border-radius: 100%;
    border: 1px solid grey;
    padding: 2px;
}
.my-container h1{
    margin-bottom: 30px;
}
.my-container p{
    color: grey;
    font-size: smaller;
    line-height: 20px;
}
footer{
    width: 100%;
}
.social{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}
.social .fa-brands{
    margin-left: 20px;
    font-size: 20px;
    border-radius: 100%;
    border: 5px double gray;
    padding: 10px;
}
.social span{
    color: gray;
}
footer p{
    margin-top: 20px;
    color: grey;
}